.button {
  transition: background-color 0.5s ease;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 12px 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--secondary-text-color);
  font-family: var(--font-family);
  font-size: 16px;
}

.button:hover {
  background-color: var(--secondary-color);
}

.button:active {
  transform: scale(0.95);
}
