.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.card__image {
  margin: 16px auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.card__body {
  padding: 20px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-size: 24px;
}

.card__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 16px;
}
